<div class="row mt-4">
  <div class="col-md-6">
 



    <form class="form new-Post-form">
      <div class="form-group">
        <label for="content">Update comment:</label>
        <textarea class="form-input" id="content" name="content">{{content}}</textarea>
      </div>
      <div class="form-group">
        <button  id = "submit" data-id= "{{id}}"  class="btn btn-primary update">Update</button>
      </div>
    </form>
  
    
  </div>


  <script src="/js/commentupdate.js"></script>